<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1421067407-hlrsuskai6263575jkv3i2j61c6bq618.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1421067407-hlrsuskai6263575jkv3i2j61c6bq618</string>
	<key>API_KEY</key>
	<string>AIzaSyDzxLy6iWHjAw9fIjEZV8t6-QxCGiqdv1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1421067407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterWebview</string>
	<key>PROJECT_ID</key>
	<string>flutter-web-view-1d712</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-web-view-1d712.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1421067407:ios:7de7b6e1763062f3b65cfa</string>
</dict>
</plist>